html, body {
    height: 100%; /* Assicurati che il body prenda tutta l'altezza della pagina */
    margin: 0; /* Rimuove i margini predefiniti */
}

.header {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

.image {
    display: flex;
    vertical-align: top;
    justify-content: center;
}


.image img {
    text-align: center;
    width: 85%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.list {
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
}